.code-block {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0px 0px;
    width: 100%;
    overflow: hidden;
    font-size: 1rem !important;
  }

  .content {
    overflow-x: auto;
    position: relative;
    background-color: var(--chai-background);

  }
  
  .text_language {
    padding-left: 1rem !important;
  }
  
  
  .line_indicator {
    display: inline-block;
    pointer-events: none;
    position: sticky;
    left: 0;
    color: var(--chai-line-indicator);
    user-select: none;
    width: 44px !important;
    text-align: end;
    padding-right: 16px !important;
  }